<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}PROCESO ELECTORAL{% endblock %}</title>
</head>
<body>
    {% block portada %}
        <h1>PROCESO ELECTORAL</h1>
    {% endblock %}
    {% block barra %}
        {% if user.is_authenticated %}
            Sesión iniciada como <b><a href="/usuario/{{ user.id }}">{{ user.username }}</a></b>
            {% if user.is_staff %}
                | <b>Administrador</b>
            {% endif %}
            <br>
        {% endif %}
        <nav>
            <a href="/">Inicio</a> |
            <a href="/circunscripciones">circunscripciones</a> |
            {% if not user.is_authenticated %}
                <a href="/login">Iniciar sesión</a> |
            {% else %}
                <a href="/logout">Cerrar sesión</a>
            {% endif %}
        </nav>
    {% endblock %}
    {% block subtitulo %}
    {% endblock %}
    {% block contenido %}
    {% endblock %}
</body>
</html>
