{% extends 'base.html' %}

{% block subtitulo %}
   {% if user.is_staff %}
        <br>
        <input type="button" value="Crear Cir" onclick="location.reload();location.href='/crearCir/'"/>
    {% endif %}
    <h2>Listado de Circunscripciones:</h2>
{% endblock %}

{% block contenido %}
    {% if object_list %}
         {% for circunscripcion in object_list %}
             <h3><a href="/circunscripcion/{{ circunscripcion.id }}">{{ circunscripcion.nombre }}</a></h3>
			<br>
		{% if user.is_staff %}
        <br>
        <input type="button" value="Editar" onclick="location.reload();location.href='/updateCir/{{ circunscripcion.id }}'"/>
		<input type="button" value="Eliminar" onclick="location.reload();location.href='/deleteCir/{{ circunscripcion.id }}'"/>
		<input type="button" value="Añadir mesa" onclick="location.reload();location.href='/addMesa/{{ circunscripcion.id }}'"/>
    {% endif %}
         {% endfor %}
    {% else %}
        <p>No hay ninguna circunscripcion</p>
    {% endif %}
{% endblock %}
