{% extends 'base.html' %}

{% block subtitulo %}
  
{% endblock %}

{% block contenido %}
    <p><b>Nombre: </b>{{ cir.nombre }}</p>
    <p><b>Mesas: </b></p>	
	{% for x in cir.mesas.all %}
		<li><a href="/mesa/{{x.id}}">{{x}}</a>
		{% if user.is_staff %}
        <br>
        <input type="button" value="Editar mesa" onclick="location.reload();location.href='/editarMesa/{{ x.id }}'"/>
		<input type="button" value="Borrar mesa" onclick="location.reload();location.href='/borrarMesa/{{ x.id }}'"/>
		<br><br>
		{% endif %}
	{% endfor %}<br>
	<br>
    <input type="button" value="Atrás" onclick="location.reload();location.href='/'"/>
    <br>
    <br>
{% endblock %}
